.BackgroundImages {
  /* background: rgba(149, 56, 56, 0.8) url("../../Images/ContactImg.jpg"); */
  background: linear-gradient(rgba(48, 48, 48, 0.5), rgba(56, 56, 56, 0.5)),
    url("../../Images/Donation.jpg");

  background-size: cover; /* Cover the entire div */
  background-position: center; /* Center the image */
  background-repeat: no-repeat;
  display: flex;
  align-items: center; /* Center text vertically */
  justify-content: center; /* Center text horizontally */

  height: 400px; /* Adjust height as needed */
  width: 100%;

  text-align: center; /* Ensures text alignment */
  color: white; /* Text color (change based on background) */
  background-color: #2f506c;
  font-weight: bold;
}
.BackgroundImages > h2 {
  font-size: 50px;
  font-weight: bold;
}
.area__focus__content {
  padding-top: 80px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .BackgroundImages {
    height: 200px; /* Reduce height for small screens */
  }
  .BackgroundImages h2 {
    font-size: 18px; /* Smaller font size on mobile */
  }
}
