.BackgroundImages {
  /* background: rgba(149, 56, 56, 0.8) url("../../Images/ContactImg.jpg"); */
  background: linear-gradient(rgba(48, 48, 48, 0.5), rgba(56, 56, 56, 0.5)),
    url("../../Images/Contact-us (1).jpg");

  background-size: cover; /* Cover the entire div */
  background-position: center; /* Center the image */
  background-repeat: no-repeat;
  display: flex;
  align-items: center; /* Center text vertically */
  justify-content: center; /* Center text horizontally */

  height: 400px; /* Adjust height as needed */
  width: 100%;

  text-align: center; /* Ensures text alignment */
  color: white; /* Text color (change based on background) */
  background-color: #2f506c;
  font-weight: bold;
}
.BackgroundImages > h2 {
  font-size: 50px;
  font-weight: bold;
}
.EnquiryForm {
  margin-top: 80px;
}

.Contact_main {
  font-weight: bold;
  font-size: 22px;
  color: #495057;
  text-align: center;
  padding-top: 20px;
  padding-top: 20px;
}

.Contact_details {
  font-size: 16px;
  color: #495057;
  text-align: center;
}
.contact__icon {
  width: 50px;
  height: 50px;
}
.Contact__icon__section,
.contact__section__icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Contact__icon__section {
  margin-bottom: 40px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .BackgroundImages {
    height: 200px; /* Reduce height for small screens */
  }
  .BackgroundImages h2 {
    font-size: 18px; /* Smaller font size on mobile */
  }
}
