.img__staff {
  border-radius: 50%;
  width: 150px;
  padding: 5px;

  text-align: center;
  border: 4px solid #123862;
}
.img__content_staff {
  display: flex;
  justify-content: center;
}

.staff_name,
.staff_designation {
  text-align: center;
}
.staff_name {
  font-weight: bold;
  font-size: 22px;
  color: #495057;
  padding-top: 20px;
  padding-top: 20px;
}
.staff_designation {
  color: #123862;
  font-weight: bold;
}
.staff_content_text {
  font-size: 16px;
  color: #495057;
  text-align: center;
}
.logoSocialNetwork {
  display: flex;
  justify-content: center;
}
.card__content {
  margin-bottom: 40px;
  padding-top: 20px;
}
